@use '@/styles/utils/mixin' as m
  
.contactButton
  display: flex
  justify-content: center
  align-items: center
  width: 100px
  height: 32px
  padding: 8px 0
  color: #fff
  background-color: #ff3535
  text-transform: uppercase
  border: none
  cursor: pointer
  transition: all .3s ease-out
  @include m.media(phone)
    width: 100%

.telegramButton
  background-color: #00A3FF
  &:hover
    background-color: lighten(#00A3FF, 5%)

.whatsAppButton
  background-color: #1BC100
  &:hover
    background-color: lighten(#1BC100, 5%)

.viberButton
  background-color: #9300C7
  &:hover
    background-color: lighten(#9300C7, 5%)

.vkButton
  background-color: #368CDC
  &:hover
    background-color: lighten(#368CDC, 5%)

.mobilePhoneButton
  background-color: #0050E3
  &:hover
    background-color: lighten(#0050E3, 5%)

.emailButton
  background-color: #FF6600
  &:hover
    background-color: lighten(#FF6600, 5%)
