.h1
  margin: 56px 0

.list
  margin-bottom: 56px

.listItem
  margin-bottom: 10px
  display: flex
  align-items: center
  // max-width: 760px
  &::before
    content: "•"
    color: #ff3535
    margin-right: 20px
  & a
    padding: 4px 4px 4px 0
    transition: color 0.2s ease-in-out
    line-height: 140%
    text-transform: lowercase
    &::first-letter
      text-transform: capitalize
    &:hover
      color: #ff3535
