$alpha: #fff
$beta: #fff
$gamma: #fff
$delta: #fff
$epsilon: #fff
$zeta: #fff
$eta: #fff
$theta: #fff
$iota: #fff
$kappa: #fff
$lambda: #fff
$mu: #fff
$nu: #fff
$xi: #fff
$omicron: #fff
$pi: #fff

$rho: #fff
