@use '@/styles/utils/mixin' as m

.container
  position: fixed
  bottom: 0
  z-index: 5
  width: 100%
  transition: all .3s ease-out

  &.stickyShown
    bottom: 0
  &.stickyClosed
    bottom: -60px
    @include m.media(desktop, widescreen)
      bottom: -90px
    @include m.media(phone)
      margin-top: 50px
      bottom: -100px
