.popupLearnMore
  background-color: #ff3535
  color: #fff
  padding: 30px 30px
  position: relative

.title
  margin-bottom: 7px

.disc
  font-size: 20px
  margin-bottom: 25px

.btnGroup
  display: flex
  flex-direction: column
  & > *:nth-child(1)
    margin-bottom: 15px

.btn
  font-size: 15px
  padding: 20px
