@use '@/styles/utils/mixin' as m

.legalSection
  border-bottom: solid 1px #D2D2D2
  &:not(:first-of-type)
    padding: 75px 0
    @include m.media(tablet, phone)
      padding: 60px 0
  p
    font-size: 20px
    @include m.media(tablet, phone)
      font-size: 16px

.subHeading
  font-size: 36px
  @include m.media(tablet, phone)
    font-size: 23px
    margin-bottom: 15px

.companyCard
  p
    max-width: 900px

.companyDetailsTitle
  line-height: 120%
  font-weight: 500
  margin: 20px 0 10px
  & + p
    line-height: 140%
