@use '@/styles/utils/mixin' as m
  
.noPaddingLeft
  padding-left: 0

.partnershipTitle
  font-style: normal
  font-weight: 500
  font-size: 24px
  line-height: 120%
  color: #2D2C2A
  margin-bottom: 30px
  @include m.media(tablet, phone)
    font-size: 15px