@use '@/styles/utils/mixin' as m

.legalSection
  border-bottom: solid 1px #D2D2D2
  &:not(:first-of-type)
    padding: 75px 0
    @include m.media(tablet, phone)
      padding: 60px 0
  p
    font-size: 20px
    @include m.media(tablet, phone)
      font-size: 16px

.currentLicenses
  padding-bottom: 75px
  @include m.media(tablet, phone)
    padding-bottom: 60px

.subHeading
  font-size: 36px
  @include m.media(tablet, phone)
    font-size: 23px
    margin-bottom: 15px

.pdfContainer
  display: flex
  justify-content: space-between
  margin: 55px 0
  @include m.media(laptop)
    flex-direction: column
  @include m.media(tablet, phone)
    padding: 5px 3px
    overflow-x: scroll
  .pdf-document
    background-color: #fff
    @include m.media(tablet, phone)
      margin-right: 10px
      padding-bottom: 20px
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
