@use '@/styles/utils/mixin' as m

.smallPl
  padding: 117px 290px 117px 215px
  @include m.media(desktop, laptop)
    padding: 100px 150px 100px 50px
  @include m.media(laptop)
    padding-right: 50px
    padding-bottom: 220px
  @include m.media(tablet, phone)
    padding: 60px 10px 180px
