@use '@/styles/utils/mixin' as m

.container
  position: relative
  margin-bottom: 130px
  @include m.media(laptop, tablet, phone)
    margin-bottom: 80px
    padding-bottom: 0
  @include m.media(tablet, phone)
    margin-bottom: 60px
  @include m.media(laptop, tablet, phone)
    padding-bottom: 70px
    margin-bottom: 70px
  @include m.media(tablet, phone)
    padding-bottom: 60px
    margin-bottom: 60px
  @include m.media(phone)
    padding-bottom: 40px
  &.withLine
    padding-bottom: 140px
    @include m.media(laptop)
      padding-bottom: 80px
    @include m.media(tablet, phone)
      padding-bottom: 60px
    &:after
      content: ''
      height: 1px
      background: #e6e6e6
      width: 100vw
      left: 50%
      margin-left: -50vw
      position: absolute
      z-index: 2
      bottom: 0
    &:before
      content: ''
      height: 2px
      background: #ff3535
      width: 169px
      left: 220px
      position: absolute
      z-index: 3
      bottom: 0
      @include m.media(desktop, laptop, tablet, phone)
        left: 0
      @include m.media(tablet, phone)
        width: 110px

.content
  position: relative
  display: flex
  margin-top: 33px
  margin-bottom: 36px
  @include m.media(laptop, tablet, phone)
    padding-right: 0
  @include m.media(tablet, phone)
    margin-bottom: 25px
  .rightImg
    margin-top: 19px
    width: 410px
    height: calc(100% - 19px)
    @include m.media(desktop)
      position: absolute
      right: 0
      top: 0
      width: 410px
    @include m.media(laptop, tablet, phone)
      position: absolute
      right: 0
      top: 0
      width: 345px
      height: 378px
    @include m.media(tablet, phone)
      top: 0
      height: 50%
      width: calc(50% - 30px)
      margin-top: 0
    @include m.media(phone)
      width: calc(50% - 20px)
    & > *
      max-height: 100%
    img
      height: 100%
      object-fit: cover
      object-position: top left
      width: 100%

.top
  width: 850px
  margin-right: 30px
  @include m.media(desktop, tablet, phone)
    width: 540px
  @include m.media(laptop, tablet, phone)
    position: relative
    margin-right: 0
  @include m.media(tablet, phone)
    width: 100%
  .desc
    font-size: 35px
    line-height: 1.2
    margin-bottom: 76px
    padding-left: 220px
    max-width: 580px
    box-sizing: content-box
    color: #000
    @include m.media(desktop, laptop, tablet, phone)
      padding-left: 0
    @include m.media(laptop, tablet, phone)
      width: 315px
      margin-bottom: 38px
    @include m.media(tablet, phone)
      font-size: 25px
      width: 50%
      min-height: calc(310px - 3vw)
    @include m.media(phone)
      font-size: 18px
      min-height: calc(260px - 2vw)
  .bottomImg
    @include m.media(phone)
      margin-top: -50px
    img
      width: 100%

.list
  display: flex
  margin: 0 -15px
  line-height: 1.2
  padding-right: 109px
  @include m.media(desktop, laptop, tablet, phone)
    padding-right: 0
  @include m.media(laptop, tablet, phone)
    justify-content: space-between
  @include m.media(tablet, phone)
    text-align: center
  @include m.media(phone)
    display: block
    text-align: left
  li
    padding: 0 15px
    width: 33.333%
    @include m.media(laptop, tablet, phone)
      width: auto
      max-width: 235px
      &:nth-last-of-type(1)
        max-width: 175px
    @include m.media(phone)
      width: 100%
      max-width: 100%
      margin-bottom: 22px
      &:nth-last-of-type(1)
        max-width: 100%
  .number
    font-weight: bold
    font-size: 36px
    color: #ff3535
    margin-bottom: 10px
    @include m.media(laptop, tablet, phone)
      font-size: 28px
      margin-bottom: 5px
    @include m.media(tablet, phone)
      font-size: 24px
    @include m.media(phone)
      font-weight: 500
