@import @/styles/utils/mixins

.breadcrumbs
  padding: 22px 0 12px
  display: flex
  flex-wrap: wrap
  font-weight: 400
  font-size: 14px
  line-height: 1.2
  li
    margin-right: 44px
    position: relative
    margin-bottom: 10px
    &:after
      content: ''
      width: 4px
      height: 4px
      background: #ff3535
      position: absolute
      top: 7px
      right: -24px
    &:last-child 
      margin-right: 0
      padding-right: 10px
      &:after 
        display: none
  a
    white-space: nowrap
    transition: all 0.3s ease-out
    &:hover
      color: #ff3535
  span 
    color: #b3b3b3
    white-space: nowrap
  @include media(tablet, phone)
    overflow-x: auto
    flex-wrap: nowrap
    a
      white-space: nowrap
    span
      white-space: nowrap

.breadcrumbsOuter
  position: relative
  z-index: 3
  color: #808080
  &:after
    background: #f7f7f7
    content: ''
    left: 50%
    top: 0
    position: absolute
    z-index: -1
    width: 100vw
    height: 100%
    margin-left: -50vw
  @include media(tablet, phone)
    margin: 0 -10px
    padding-left: 10px
    &:before
      content: ''
      left: 0
      top: 0
      position: absolute
      z-index: 5
      background: linear-gradient(90deg, #f7f7f7 0%, rgba(247, 247, 247, 0) 100%)
      width: 61px
      height: 100%

.jumbotronBreadcrumbs 
  position: absolute
  left: 0
  top: 0
  width: 100%
  color: #fff
  &:after
    display: none
  &:before 
    display: none !important
  @include media(tablet, phone)
    width: calc(100% + 10px)

.jumbotronGeneral
  background-color: #f7f7f7
  margin-bottom: 0px
  & > * > *
    position: relative
  
  & a
    color: #808080