.filters
  width: 100%
  min-width: 296px
  @media (min-width: 1330px)
    margin-right: 61px
  @media (max-width: 1330px) and (min-width: 1019px)
    margin-right: 33px
  @media (max-width: 1019px) and (min-width: 480px)
    display: flex
    margin-right: 0
    & > *:nth-child(1)
      margin-right: 33px
  @media (max-width: 480px)
    flex-direction: column

.title
  margin-bottom: 26px
  font-weight: 500
  font-size: 20px
  line-height: 120%

.content
  display: flex
  flex-direction: column
  margin-bottom: 41px
  & a
    display: flex
    align-items: center
    margin-bottom: 20px
    &:hover .filter-circle
      border-color: #ff3535

.circle
  display: inline-block
  width: 20px
  height: 20px
  background-color: #efefef
  border-radius: 50%
  margin-right: 8px
  transition: border-color 0.3s ease-in-out
  border: 1px solid
  border-color: transparent
  position: relative
  &.active
    background-color: #ff3535
    &::after
      content: ''
      width: 10px
      height: 10px
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: #ffffff

.highlight
  font-weight: 500
  font-size: 16px
  line-height: 120%
  transition: color 0.3s ease-in-out
  &:hover
    color: #ff3535
    & .premium
      border-color: #ff3535

.premium
  border: 1px solid
  border-color: #000
  font-size: 10px
  line-height: 120%
  padding: 6px
  margin-left: 20px
  transition: border-color 0.3s ease-in-out

.discount50
  font-size: 12px
  line-height: 120%
  padding: 6px 10px
  margin-left: 15px
  background-color: #ff3535
  color: #fff
