@use '@/styles/utils/mixin' as m

.container
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 110px
  background-color: #FF3535
  color: #fff
  // @include m.media(laptop, tablet, phone)
  //   justify-content: space-evenly
  @media(max-width: 1019px)
    margin-bottom: 50px

.content
  display: flex
  justify-content: center
  align-items: center
  margin: 109px 70px
  @media(max-width: 1019px)
    flex-direction: column
    align-items: center
  @media(max-width: 767px)
    align-items: center

.title
  margin-right: 61px
  font-style: normal
  font-weight: bold
  font-size: 36px
  line-height: 120%
  @media(max-width: 1329px)
    font-size: 32px
  @media(max-width: 1019px)
    font-size: 30px
    margin-right: 0
    margin-bottom: 35px
  @media(max-width: 767px)
    font-size: 24px

.btn
  display: inline-block
  padding: 19px 33px
  text-transform: uppercase
  background-color: #fff
  color: #000
  font-style: normal
  font-weight: bold
  font-size: 15px
  line-height: 120%
  text-align: center
  letter-spacing: 0.1em
  text-transform: uppercase
  @media(max-width: 767px)
    width: 100%
    padding: 16px 0
    font-size: 14px

.pointer
  cursor: pointer
