.container
  display: flex
  flex-wrap: wrap
  @media(max-width: 767px)
    margin-top: 50px

  @supports (gap: 30px)
    gap: 30px

  @supports not (gap: 30px)
    & > *:not(:last-child)
      margin-right: 30px
