.sheet
  position: relative
  max-width: 628px
  padding: 56px 71px
  &.red,
  &.dark
    color: #fff
    &::after
      content: ''
      position: absolute
      top: 0
      right: 0
      border-bottom: 43px solid
      border-right: 43px solid #fff
  &.red
    background-color: #FF3535
    &::after
      border-bottom-color: #CD1800
  &.dark
    background-color: #2D2C2A
    &::after
      border-bottom-color: #000

.title
  padding-bottom: 24px
  font-style: normal
  font-weight: bold
  font-size: 36px
  line-height: 120%

.listItem
  &.many
    @supports (display: list-item)
      display: list-item
      list-style: circle inside
      &::marker
        content: '\2022'
        color: #FF3535
      & p
        padding-left: 15px

  &:not(:last-child)
    padding-bottom: 10px
  & p
    display: inline
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 130%
